body{
    background-color: rgb(96, 205, 255);
    background-image: url('./imgs/pngaaa.com-27423.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
}

#container{
    width: 100%;
    margin: 0 auto;
}

h1{
    text-align: center;
    padding: 32px;
    font-size: 72px;
    font-family: 'Fredericka the Great', sans-serif;
}

#gamecontainer{
    margin: 4px;
}

#row2{
    display: flex;
    width: 100%;
}

aside{
    width: 25%;
    display: inline;
}

#board{
    width: 1000px;
    border: 1px solid black;    
}

#firstRow{
    display: flex;
    justify-content: center;
}

#secondRow{
    height: 30%;
    margin-top: 16px;
}
#decks{
    border: 1px solid red;
    width: 250px;
}

#treasuredraw, #flooddraw{
    height: 124.6px;
    width: 173px;
    border: 1px dotted black;
    margin: 4px;
    text-align: center;
    font-size: 32px;
    font-family: 'Fredericka the Great', sans-serif;
    color: white;
    line-height: 124.6px;

}

#treasurediscard, #flooddiscard{
    width: 124.6px;
    height: 173px;
    border: 1px dotted black;
    margin: -25px auto auto 27px;
    transform: rotate(90deg);
}

.title{
    font-family: 'Fredericka the Great', sans-serif;
}

#treasuredraw{
    background-image: linear-gradient(45deg, #b80201 25%, #d64800 25%, #d64800 50%, #b80201 50%, #b80201 75%, #d64800 75%, #d64800 100%);
    background-size: 28.28px 28.28px;
}

#flooddraw{
    background-image: linear-gradient(45deg, #3b55b3 25%, #669db3 25%, #669db3 50%, #3b55b3 50%, #3b55b3 75%, #669db3 75%, #669db3 100%);
    background-size: 28.28px 28.28px;
}

#game{
    border: 1px solid greenyellow;
    width: 540px;
    height: 540px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerHand{
    width: 100%;
    height: 100%;
    border: 1px solid hotpink;
}

#waterlevelcontainer{
    width: 100%;
}

progress{
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 75px);
    grid-template-rows: repeat(3, 50px);
    gap: 0px 0px;
    font-size: 28px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    grid-template-areas:
      "title title title title title title title title title title"
      "Novice2 Normal2 Elite3 Legendary3 a3 a4 b4 a5 b5 dead"
      "progressbar progressbar progressbar progressbar progressbar progressbar progressbar progressbar progressbar progressbar";
  }
  
  .title{
      grid-area: title;
      text-align: center;
      line-height: 50px;
      font-size: 44px;
  }
  .Novice2 { 
      grid-area: Novice2; 
      text-align: center;
    }
  
  .Normal2 { grid-area: Normal2; text-align: center;}
  
  .Elite3 { grid-area: Elite3; text-align: center;}
  
  .Legendary3 { grid-area: Legendary3; text-align: center;}
  
  .a3 { grid-area: a3; text-align: center;}
  
  .a4 { grid-area: a4; text-align: center;}
  
  .a5 { grid-area: a5; text-align: center;}
  
  .b4 { grid-area: b4; text-align: center;}
  
  .b5 { grid-area: b5; text-align: center;}
  
  .dead { grid-area: dead; }

  .progressbar { 
      grid-area: progressbar; 
      display: flex;
      justify-content: center;
    }

#skull{
    display: block;
    width: 50%;
    margin: 0 auto;
}


.tile{
    
    margin: 10px 5px 10px 5px;
    width: 75px;
    height: 75px;
    display: block;
}

#pilot{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 126px;
    left: 387px;
    border-radius: 100%;
    background-color: blue;
    z-index: 10;
}

#howlinggarden{
    background-image: url('./imgs/tiles/howlingtile.jpeg');
    background-size: contain;
}

#lostlagoon{
    background-image: url('./imgs/tiles/losttile.jpeg');
    background-size: contain;
}

#caveofshadows{
    background-image: url('./imgs/tiles/shadowstile.jpeg');
    background-size: contain;
}

#phantomrock{
    background-image: url('./imgs/tiles/phantomtile.jpeg');
    background-size: contain;
}

#silvergate{
    background-image: url('./imgs/tiles/silvertile.jpeg');
    background-size: contain;
}

#templeofthesun{
    background-image: url('./imgs/tiles/suntile.jpeg');
    background-size: contain;
}

#watchtower{
    background-image: url('./imgs/tiles/watchtowertile.jpeg');
    background-size: contain;
}

#irongate{
    background-image: url('./imgs/tiles/irontile.jpeg');
    background-size: contain;
}

#foolslanding{
    background-image: url('./imgs/tiles/foolstile.jpeg');
    background-size: contain;
}

#coppergate{
    background-image: url('./imgs/tiles/coppertile.jpeg');
    background-size: contain;
}

#coralpalace{
    background-image: url('./imgs/tiles/coraltile.jpeg');
    background-size: contain;
}

#dunesofdeception{
    background-image: url('./imgs/tiles/dunestile.jpeg');
    background-size: contain;
}

#goldgate{
    background-image: url('./imgs/tiles/goldtile.jpeg');
    background-size: contain;
}

#bronzegate{
    background-image: url('./imgs/tiles/bronzetile.jpeg');
    background-size: contain;
}

#crimsonforest{
    background-image: url('./imgs/tiles/crimsontile.jpeg');
    background-size: contain;
}

#observatory{
    background-image: url('./imgs/tiles/observatorytile.jpeg');
    background-size: contain;
}

#tidalpalace{
    background-image: url('./imgs/tiles/tildaltile.jpeg');
    background-size: contain;
}

#whisperinggarden{
    background-image: url('./imgs/tiles/whisperingtile.jpeg');
    background-size: contain;
}

#templeofthemoon{
    background-image: url('./imgs/tiles/moontile.jpeg');
    background-size: contain;
}

#mistymarsh{
    background-image: url('./imgs/tiles/mistytile.jpeg');
    background-size: contain;
}

#twilighthollow{
    background-image: url('./imgs/tiles/twilighttile.jpeg');
    background-size: contain;
}

#caveofembers{
    background-image: url('./imgs/tiles/emberstile.jpeg');
    background-size: contain;
}

#cliffsofabandon{
    background-image: url('./imgs/tiles/cliffstile.jpeg');
    background-size: contain;
}

#breakersbridge{
    background-image: url('./imgs/tiles/breakersbridgetile.jpeg');
    background-size: contain;
}


.flooded{
    background-color: rgba(34, 167, 240, .5);
}

#playerhand{
    display: flex;
}

#treasurehand{
    display:flex;
    margin-left: 10px;
}
.playerhandtreasurecards{
    width: 124.6px;
    height: 173px;
    border: 1px dotted black;
    margin: 4px;
}

#treasures{
    display:flex;
    flex-wrap: wrap;
    width: 20%;
    visibility: hidden;
    margin-left: 16px;
    margin-right: 16px;
}

#chalicetreasure, #liontreasure,
#firetreasure, #earthtreasure{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 45%;
    height: 45%;
    margin: 1px;
}

#chalicetreasure{
    background-image: url('./imgs/treasure/chalicetreasure.png');
}

#liontreasure{
    background-image: url('./imgs/treasure/liontreasure.png');
}

#firetreasure{
    background-image: url('./imgs/treasure/firetreasure.png');
}

#earthtreasure{
    background-image: url('./imgs/treasure/globetreasure.png');
}


.sandbag, .helicopterlift, .earth, .fire, .water, .air, .watersrise{
    background-size: cover;
    width: 124.6px;
    height: 173px;
    border: 1px dotted black;
    margin: 4px;
}
.sandbag{
    background-image: url('./imgs/treasure/sandbag.png');
}

.helicopterlift{
    background-image: url('./imgs/treasure/helicopter_lift.png');

}

.earth{
    background-image: url('./imgs/treasure/globe.png');

}

.water{
    background-image: url('./imgs/treasure/chalice.png');

}

.fire{
    background-image: url('./imgs/treasure/fire.png');

}

.air{
    background-image: url('./imgs/treasure/lion.png');
}

.watersrise{
    background-image: url('./imgs/treasure/waters_rise.png');
}

.howlinggarden{
    background-image: url('./imgs/flood_deck/howling_garden.png');
    background-size: contain;
}

.lostlagoon{
    background-image: url('./imgs/flood_deck/lost_lagoon.png');
    background-size: contain;
}

.caveofshadows{
    background-image: url('./imgs/flood_deck/cave_of_shadows.png');
    background-size: contain;
}

.phantomrock{
    background-image: url('./imgs/flood_deck/phantom_rock.png');
    background-size: contain;
}

.silvergate{
    background-image: url('./imgs/flood_deck/silver_gate.png');
    background-size: contain;
}

.templeofthesun{
    background-image: url('./imgs/flood_deck/temple_of_the_sun.png');
    background-size: contain;
}

.watchtower{
    background-image: url('./imgs/flood_deck/watchtower.png');
    background-size: contain;
}

.irongate{
    background-image: url('./imgs/flood_deck/iron_gate.png');
    background-size: contain;
}

.foolslanding{
    background-image: url('./imgs/flood_deck/fools_landing.png');
    background-size: contain;
}

.coppergate{
    background-image: url('./imgs/flood_deck/copper_gate.png');
    background-size: contain;
}

.coralpalace{
    background-image: url('./imgs/flood_deck/coral_palace.png');
    background-size: contain;
}

.dunesofdeception{
    background-image: url('./imgs/flood_deck/dunes_of_deception.png');
    background-size: contain;
}

.goldgate{
    background-image: url('./imgs/flood_deck/gold_gate.png');
    background-size: contain;
}

.bronzegate{
    background-image: url('./imgs/flood_deck/bronze_gate.png');
    background-size: contain;
}

.crimsonforest{
    background-image: url('./imgs/flood_deck/crimson_forest.png');
    background-size: contain;
}

.observatory{
    background-image: url('./imgs/flood_deck/observatory.png');
    background-size: contain;
}

.tidalpalace{
    background-image: url('./imgs/flood_deck/tidal_palace.png');
    background-size: contain;
}

.whisperinggarden{
    background-image: url('./imgs/flood_deck/whispering_garden.png');
    background-size: contain;
}

.templeofthemoon{
    background-image: url('./imgs/flood_deck/temple_of_the_moon.png');
    background-size: contain;
}

.mistymarsh{
    background-image: url('./imgs/flood_deck/misty_marsh.png');
    background-size: contain;
}

.twilighthollow{
    background-image: url('./imgs/flood_deck/twilight_hollow.png');
    background-size: contain;
}

.caveofembers{
    background-image: url('./imgs/flood_deck/cave_of_embers.png');
    background-size: contain;
}

.cliffsofabandon{
    background-image: url('./imgs/flood_deck/cliffs_of_abandon.png');
    background-size: contain;
}

.breakersbridge{
    background-image: url('./imgs/flood_deck/breakers_bridge.png');
    background-size: contain;
}