body{
    background-color: rgb(96, 205, 255);
    background-image: url('./imgs/pngaaa.com-27423.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
}

#container{
    width: 100%;
    margin: 0 auto;
    border: 1px solid red;
}

h1{
    text-align: center;
    padding: 32px;
    font-size: 72px;
    font-family: 'Fredericka the Great', sans-serif;
}

#gamecontainer{
    margin: 4px;
    border: 1px solid salmon;
}


.decks{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    border: 1px solid black;
}

canvas{
    width: 60%;
    border: 1px solid black;
    display: inline;
}

#row2{
    display: flex;
    width: 100%;
}

aside{
    border: 1px solid blue;
    width: 25%;
    display: inline;
}

#players{
    position: absolute;
}

#playertracker, #waterlevelcontainer{
    width: 100%;
    border: 1px solid greenyellow;
}

progress{
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 75px);
    grid-template-rows: repeat(3, 50px);
    gap: 0px 0px;
    font-size: 28px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    grid-template-areas:
      "title title title title title title title title title title"
      "Novice2 Normal2 Elite3 Legendary3 a3 a4 b4 a5 b5 dead"
      "progressbar progressbar progressbar progressbar progressbar progressbar progressbar progressbar progressbar progressbar";
  }
  
  .title{
      grid-area: title;
      text-align: center;
      line-height: 50px;
      font-size: 44px;
  }
  .Novice2 { 
      grid-area: Novice2; 
      text-align: center;
    }
  
  .Normal2 { grid-area: Normal2; text-align: center;}
  
  .Elite3 { grid-area: Elite3; text-align: center;}
  
  .Legendary3 { grid-area: Legendary3; text-align: center;}
  
  .a3 { grid-area: a3; text-align: center;}
  
  .a4 { grid-area: a4; text-align: center;}
  
  .a5 { grid-area: a5; text-align: center;}
  
  .b4 { grid-area: b4; text-align: center;}
  
  .b5 { grid-area: b5; text-align: center;}
  
  .dead { grid-area: dead; }

  .progressbar { 
      grid-area: progressbar; 
      display: flex;
      justify-content: center;
    }

#skull{
    display: block;
    width: 50%;
    margin: 0 auto;
}

.flooded{
    background-color: blue;
}

canvas{
    width: 75%;
}